@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap');

:root {
  /* --main-bg-color: rgb(180, 118, 180); */
  --main-bg-color: #64638f;
  /* --alt-bg-color: rgb(209, 162, 209); */
  --alt-bg-color: #9795cf;
  --main-btn-bg-color: #ad62aa;
  --main-btn-hv-color: #ea9085;
  --main-badge-color: #f4a548;
  --alt-btn-hv-color: #6983aa;
  --main-border-color: gray;
  --alt-border-color: lightgray;
  --main-txt-color:  rgb(45, 45, 45);
  --alt-txt-color: white;
  --main-font-fam: 'Playfair Display', serif;
  --alt-font-fam: Arial, Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
}

/* .App {
  border: 1px solid purple;
  height: 100%;
  width: 100%;
} */



.NavBar {
  /* border: 1px solid red; */
  text-decoration: none;
  flex-shrink: 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  border-bottom: 1px solid var(--alt-border-color);
}

.NavTop {
  /* border: 1px solid blue; */
  background-color: var(--main-bg-color);
  display: flex;
  font-family: var(--alt-font-fam);
  font-weight: bold;
  color: var(--alt-txt-color);
  padding: .5% 5%;
  width: 100%;
}

.fa-user-circle {
  color: var(--alt-txt-color);
}

.Contact {
  /* border: 1px solid blue; */
  margin: auto;
  margin-left: 0;
  width: 20%;
}

.fa-phone-square {
  margin-right: 4%;
}

.NavTopR {
  /* border: 1px solid blue; */
  display: flex;
  margin: 0% 5%;
  width: 100%;
}

.NavTopR button {
  border: 1px solid var(--alt-txt-color);
  width: 8em;
  background-color: transparent;
  /* border: none; */
  font-family: var(--alt-font-fam);
  font-weight: bold;
  color: var(--alt-txt-color);
  letter-spacing: .2em;
  text-transform: uppercase;
  cursor: pointer;
  transition: 0.4s;
  /* margin: 0% 2%; */
}

.signup-btn {
  margin-left: 10%;
  font-size: .7em;
  padding: 1% 2%;
}

.login-btn {
  margin-right: 10%;
  font-size: .7em;
  padding: 1% 2%;
}
.NavTopR button:hover {
  background-color: var(--alt-txt-color);
  color: var(--main-bg-color);
}


.NavTopR input {
  border-radius: 25px;
  border: none;
  height: 1.7em;
  width: 85%;
  font-family: var(--alt-font-fam);
  color: var(--main-txt-color);
  letter-spacing: .02em;
  text-transform: uppercase;
  padding-left: .5em;
  /* padding: 1%; */
}

.nav__account {
  /* border: 1px solid var(--alt-txt-color); */
  font-family: var(--alt-font-fam);
  font-weight: bold;
  color: var(--alt-txt-color);
  background-color: var(--alt-bg-color);
  letter-spacing: .2em;
  text-transform: uppercase;
  font-size: .7em;
  padding: .3% .5%;
  margin-right: 2%;
}

.Search {
  /* border: 1px solid blue; */
  width: 20em;
  font-size: small;
  margin-right: 5%;
}

.fa-search {
  margin-left: 5%;
  cursor: pointer;
  transition: 0.3s;
}

.fa-search:hover {
  color: var(--main-btn-hv-color);
}

.NavCategory {
  /* border: 1px solid red; */
  font-family: var(--alt-font-fam);
  font-weight: normal;
  color: var(--main-txt-color);
  letter-spacing: .2em;
  text-transform: uppercase;
  width: 100%;
  /* padding: 3% 3%; */
  transition: 0.3s;
}

.NavCategory:hover {
  /* background-color: var(--alt-btn-hv-color); */
  /* text-decoration: underline; */
  color: var(--main-btn-hv-color);
}

.NavBot {
  /* border: 1px solid blue;   */
  height: 50%;
  width: 100%;
  display: flex;
  background-color: var(--alt-txt-color);
  padding: 0% 9%;
  /* padding-left: 5%; */
}

.navbar-bot--categories {
  /* border: 1px solid orangered;   */
  text-transform: uppercase;
  text-decoration: inherit;
  font-family: var(--alt-font-fam);
  font-size: medium;
  margin-top: .2%;
  /* margin-right: 10%; */
  padding-left: 10%;
  display: flex;
  width: 100%;
  align-self: center;
  justify-content: space-between;
}
/* .fa {
  font-size: large;
} */

.badge {
  padding-left: 5px;
  padding-right: 5px;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 9px;
}

.fa-shopping-cart {
  color: var(--main-txt-color);
  transition: 0.3s;
}

.fa-shopping-cart:hover {
  color: var(--main-btn-hv-color);
}

.label-warning[href],
.badge-warning[href] {
  background-color: var(--main-btn-bg-color);
  /* color: var(--main-btn-bg-color); */
}

#lblCartCount {
    font-size: 75%;
    background: var(--main-badge-color);
    color: var(--alt-txt-color);
    padding: .1em 5px;
    vertical-align: top;
    margin-left: .2em; 
}

.NavCategory {

}

.login-form, .signup-form, .checkout-form {
  font-family: var(--alt-font-fam);
  color: var(--main-txt-color);
  border: 1px solid grey;  
  /* width: 60%; */
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  /* margin: 0% 20%; */
  width: 42em;
  padding: 4% 6%;
  margin-bottom: 4%;
}

.login-form__title, .signup-form__title, .checkout-form__title {
  /* border: 1px solid red; */
  font-family: var(--main-font-fam);
  color: var(--main-txt-color);
  letter-spacing: .17em;
  font-size: 200%;
  font-weight: normal;
  width: 100%;
  padding-bottom: 3%;
  margin-top: 9.5%;
  text-align: center;
  text-transform: uppercase;
}

.login-form__input, .signup-form__input, .checkout-form__input {
  /* border: 1px solid red; */
  width: 100%;
  margin-bottom: 10%;
  display: flex;
  /* border: 1px solid var(--alt-border-color); */
  /* height: 60%; */
  /* padding: 1%; */
  width: 100%;
  color: var(--main-border-color);
  letter-spacing: .1em;
  text-transform: uppercase;
  font-size: x-large;
  /* flex-flow: column; */
  /* padding: 0 0; */
}

.login-form__input span, .signup-form__input span, .checkout-form span {
  /* border: 1px solid red; */
  /* color: var(--main-txt-color); */
  color: var(--main-bg-color);
  letter-spacing: .2em;
  text-transform: uppercase;
  /* padding: 1%; */
  /* margin: 0% 3%; */
  width: 15%;
  font-size: large;
}

.login-form-input, .signup-form-input, .checkout-form-input {
  /* border: 1px solid red; */
  /* width: 100%; */
}

.login-form label, .signup-form label, .checkout-form label {
  /* border: 1px solid pink; */
  margin: 5% 0%;
  width: 100%;
  color: var(--main-txt-color);
  letter-spacing: .2em;
  text-transform: uppercase;
  font-size: large;
  /* font-weight: bold; */
}


.login-form input, .signup-form input, .checkout-form input {
  /* border: 1px solid var(--alt-border-color); */
  /* height: 60%; */
  /* padding: 1%; */
  width: 20em;
  color: var(--main-border-color);
  letter-spacing: .1em;
  text-transform: uppercase;
  font-size: x-large;
  padding: 2%;
}

.login-form-input .Email {
  /* border: 1px solid red; */
}

.login-form-input .Password {

}

.login-form button, .signup-form button, .checkout-form button  {
  margin: auto;
  /* margin-top: 5%; */
  text-align: center;
  width: 100%;
  padding: 2% 5%;
  background-color: var(--main-btn-bg-color);
  color: var(--alt-txt-color);
  font-family: var(--main-font-fam);
  font-size: x-large;
  font-weight: normal;
  letter-spacing: .3em;
  cursor: pointer;
  text-transform: uppercase;
  transition: 0.3s;
}

.login-form button:hover, .signup-form button:hover, .checkout-form button:hover {
  background-color: var(--main-btn-hv-color);
}

.Logo {
  font-family: var(--main-font-fam);
  color: var(--main-txt-color);
  font-size: 200%;
  letter-spacing: .3em;
  margin: 10% 10%;
  margin-bottom: 15%;
  transition: 0.3s;
}

.Logo:hover {
  color: var(--main-btn-hv-color);
}

.FeatureContainer {
  /* border: 1px solid red;   */
  margin-top: 6.5%;
  height: 30em;
  width: 100%;
  position: absolute;
}

.FooterContainer {
  /* border: 1px solid red;   */
  height: 2.5%;
  background-color: var(--alt-bg-color);
  color: var(--alt-txt-color);
  flex-shrink: 0;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

.Contact {
  /* border: 2px solid blue; */
  text-align: right;
  width: 100%;
  height: 100%;
  padding: 0 5%;
}

.fa-phone-square {
  margin-left: 1.3%;
  padding: .3% .4%;
  height: 100%;
  transition: 0.4s;
  cursor: pointer;
}

.fa-phone-square span {
  margin-left: .3em;
  font-family: var(--alt-font-fam);
  font-weight: normal;
  cursor: pointer;
}

.fa-phone-square:hover {
  background-color: var(--alt-txt-color);
  color: var(--main-bg-color);
}

.fa-comment-alt {
  padding: .3% .4%;
  height: 100%;
  transition: 0.4s;
  cursor: pointer;
}

.fa-comment-alt span {
  margin-left: .3em;
  font-family: var(--alt-font-fam);
  font-weight: normal;
  cursor: pointer;
}

.fa-comment-alt:hover {
  background-color: var(--alt-txt-color);
  color: var(--main-bg-color);
}

.ProductContainer {
  /* border: 1px solid red; */
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 10% 10%;
  margin-bottom: 3%;
}

#map { 
  /* border: 1px solid red; */
  margin: auto;
  margin-top: 12%;
  width: 90em;
  height: 70em; 
}

.ProductCard {
  /* border: 1px solid green;   */
  /* height: 20em; */
  width: 27%;
  border: 1px solid var(--alt-border-color);
  padding: 1.4%;
  margin: 3%;
  box-shadow: 0px 1px 6px var(--alt-border-color);
}

.product-card--details {
  display: flex;
  flex-wrap: wrap;
}

.product-card--details--name {
  /* border: 1px solid red; */
  width: 100%;
  font-weight: bold;
  color: var(--main-txt-color);
  letter-spacing: .2em;
  padding: 4% 0%;
}

/* .product-card--details--category {
  border: 1px solid red;
  width: 50%;
  border-radius: 15%;
} */

.product-card--details--bottom {
  /* border: 1px solid red; */
  width: 100%;
  display: flex;
}

.product-card--details--bottom--price {
  /* border: 1px solid red; */
  font-family: var(--main-font-fam);
  color: var(--main-txt-color);
  letter-spacing: .2em;
  width: 80%;
  height: 100%;
  padding: 2% 0%;
}

.product-card--details--bottom--addtocart {
  /* border: 1px solid red; */
  width: 20%;
  height: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
}

.product-card--details--bottom--addtocart--button {
  border: 1px solid var(--main-btn-bg-color);
  height: 1.45em;
  width: 1.45em;
  font-size: 150%;
  background-color: var(--main-btn-bg-color);
  color: var(--alt-txt-color);
  border-radius: 50%;
  /* display: inline-block; */
  /* display: flex; */
  /* justify-content: center; */
  align-items: right;
  /* text-align: center; */
  transition: 0.3s;
  cursor: pointer;
}

.product-card--details--bottom--addtocart--button:hover {
  border: 1px solid var(--main-btn-hv-color);
  background-color: var(--main-btn-hv-color);
}

.Image {
  width: 100%;
}

.product-page {
  /* border: 1px solid blue;  */
  margin: auto;
  margin: 0% 10%;
  display: flex;
  flex-wrap: wrap;
  font-family: var(--main-font-fam);
  color: var(--main-txt-color);
  letter-spacing: .2em;
}

.product-page--title {
  /* border: 1px solid red; */
  font-family: var(--main-font-fam);
  color: var(--main-txt-color);
  letter-spacing: .17em;
  font-size: 200%;
  font-weight: normal;
  width: 100%;
  padding-bottom: 3%;
  margin-top: 12%;
  text-align: center;
  text-transform: uppercase;
}

.product-page .carousel-root {
  /* border: 1px solid red; */
  padding: 1em;
  margin-right: 2%;
  width: 59%;
}

.product-page--details {
  border: 1px solid var(--alt-border-color);
  width: 39%;
  padding: 1.5% 2%;
  display: flex;
  flex-wrap: wrap;
}

.product-page--details--name {
  /* border: 1px solid red; */
  font-family: var(--alt-font-fam);
  font-weight: bolder;
  color: var(--main-txt-color);
  letter-spacing: .2em;
  text-transform: uppercase;
  width: 70%;
  padding-top: 1.5%;
  font-size: 1.7em;
}

.product-page--details--price {
  /* border: 1px solid red; */
  font-family: var(--main-font-fam);
  color: var(--main-txt-color);
  letter-spacing: .2em;
  font-size: 1.7em;
  width: 30%;
  text-align: right;
}

.product-page--details button {
  /* border: 1px solid var(--main-border-color); */
  background-color: var(--main-btn-bg-color);
  letter-spacing: .4em;
  font-size: 1em;
  width: 100%;
  height: 10%;
  font-family: var(--main-font-fam);
  color: var(--alt-txt-color);
  letter-spacing: .2em;
  text-transform: uppercase;
  transition: 0.3s;
}

.product-page--details button:hover {
  background-color: var(--main-btn-hv-color);
}

.product-page--details--description {
  /* border: 1px solid red; */
  color: var(--main-txt-color);
  letter-spacing: .09em;
  height: 70%;
  
}

.cart {
  border: 1px solid var(--alt-border-color);  
  margin: auto;
  margin: 0% 25%;
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  padding: 4% 6%;
  margin-bottom: 3%;
}

.cart__title {
  /* border: 1px solid red; */
  font-family: var(--main-font-fam);
  color: var(--main-txt-color);
  letter-spacing: .17em;
  font-size: 200%;
  font-weight: normal;
  width: 100%;
  padding-bottom: 3%;
  margin-top: 9.5%;
  text-align: center;
  text-transform: uppercase;
}

.cartLineItem {
  /* border: 1px solid red;   */
  display: flex;
  flex-wrap: wrap;
  border: 1px solid var(--alt-border-color);
  width: 100%;
  /* height: 20%; */
  margin-bottom: 5%;
}

.cartLineItem a {
  /* border: 1px solid orange; */
  width: 25%;
  padding: 1%;
}

.cartLineItem img {
  /* border: 2px solid blue; */
  width: 100%;
}

/* .cartlineitem__image {
  height: 100%;
  width: 20%;
  padding: 1%;
} */

.cartLineItem__detail {
  /* border: 1px solid blue; */
  width: 65%;
  display: flex;
  flex-wrap: wrap;
  padding: 4% 6%;
  /* margin-left: 1%; */
  font-family: var(--main-font-fam);
  color: var(--main-txt-color);
  letter-spacing: .2em;
}

.cartLineItem__detail__name {
  /* border: 1px solid red;  */
  font-size: large;
  font-weight: bold;
  font-family: var(--alt-font-fam);
  text-transform: uppercase;
  width: 100%;
}

.cartLineItem__detail__price {
  /* border: 1px solid red;  */
  font-size: large;
  width: 100%;
}

.cartLineItem__remove {
  /* border: 3px solid red;  */
  width: 10%;
  font-size: large;
  /* text-align: center; */
  background-color: var(--main-bg-color);
  color: var(--alt-txt-color);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.3s;
}

.cartLineItem__remove:hover {
  background-color: var(--alt-btn-hv-color);
}

.cart__bottom {
  /* border: 1px solid red;  */
  width: 100%;
  display: flex;
  font-family: var(--main-font-fam);
  color: var(--main-txt-color);
  letter-spacing: .2em;
  text-transform: uppercase;
}

.cart__bottom-subtotal {
  /* border: 1px solid red;  */
  width: 60%;
  padding: 2% 0;
  padding-top: 1.5%;
  font-size: x-large;
}

.cart__bottom-button {
  /* border: 1px solid red;   */
  margin: auto;
  text-align: center;
  margin-left: 0;
  width: 40%;
  padding: 2% 5%;
  background-color: var(--main-btn-bg-color);
  color: var(--alt-txt-color);
  transition: 0.3s;
}

.cart__bottom-button:hover {
  background-color: var(--main-btn-hv-color);
}